.main{
    padding-bottom: 100px;
}

.btn-delete{
    visibility: hidden;
    display: inline-block;
}

.input{
    border-radius: 15px;
    padding: 15px;
    width: 100%;
}

.table-row:hover .btn-delete{
    visibility: visible;
}

.logo{
    width: 400px;
    height: auto;

    animation-name: logo-spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 300ms;
}

.loading{
    font-size: 3.2rem;
    position: relative;
}

.loading-dot{
    animation-name: dots-loading;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:nth-child(1){
        animation-delay: 0ms;
    }

    &:nth-child(2){
        animation-delay: 100ms;
    }

    &:nth-child(3){
        animation-delay: 200ms;
    }

    &:nth-child(4){
        animation-delay: 300ms;
    }

    &:nth-child(5){
        animation-delay: 400ms;
    }
}

@keyframes dots-loading {
    0%{
        transform: translateY(-35px);
    }
    
    100%{
        transform: translateY(0px);
    }
}

@keyframes logo-spin {
     0%{
        transform: rotateY(365deg);
    }
    
    100%{
         transform: rotateY(0deg);
        // transform: scale(1);
     }
}